<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Sweet Disposition vol.3 responsive</title>
</head>
<body>
    <div class="container">
        <header class="header">
            [Шапка страницы]
        </header>
        <main class="main">
            <div class="inside_main">
                <section class="info">
                    [Основная часть]
                </section>
                <section class="first">
                    [Еще 1]
                </section>
                <section class="second">
                    [Еще 2]
                </section>
                <section class="third">
                    [Еще 3]
                </section>
            </div>
        </main>
        <aside class="sidebar">
            [Боковая часть]
        </aside>
        <footer class="footer">
            <div class="bottom">
                <section class="bot_1">
                    [Секция футера 1]
                </section>
                <section class="bot_2">
                    [Секция футера 2]
                </section>
                <section class="bot_3">
                    [Секция футера 3]
                </section>
                <section class="bot_4">
                    [Секция футера 4]
                </section>
            </div>
        </footer>
    </div>
</body>
</html>